matplotlib
scikit-learn
scikit-optimize
xgboost
seaborn
tqdm
neptune
mlflow
umap-learn
tabulate
shapely
statsmodels
shap
scipy
bernn
numpy
optuna
pytest
torch
bernn

# These are not actually used at the moment, but should either be introduced in pipeline
# Or be removed
tensorflow
rpy2